/* header{
    margin-left: 134px;margin-right: 134px;
} */
.bus-loGo {
    width: 130px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid rgba(29, 209, 0, 0.40);
    background: rgba(29, 209, 0, 0.10);
    display: inline-flex;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-ticket {
    display: inline-flex;
    padding: 21px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--primary-700, #1DD100);
}

.banner-box {
    width: 308px;
    height: 138px;
    flex-shrink: 0;
    border-radius: 24px;
    border-bottom: 3px solid var(--primary-700, #1DD100);
    background: var(--base-white, #FFF);
}

.cupon {
    width: 573px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 24px;

}

.eighty-percent-black {
    color: rgba(3, 7, 18, 0.80);
    ;
}

.fifty-percent-black {
    color: rgba(3, 7, 18, 0.50);
}

.btn-offer {
    display: inline-flex;
    padding: 21px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid var(--primary-700, #1DD100);
}

.all-ticket-section {
    border-radius: 88px 88px 0px 0px;
    border-top: 2px solid var(--primary-700, #1DD100);
    background: #F7F8F8;


    height: 2208px;
    flex-shrink: 0;
}

.perSeat {
    width: 100%;
    height: 418px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--base-white, #FFF);
}

.sixty-percent-black {
    color: var(--base-black, rgba(3, 7, 18, 0.60));
}

.seat-left {
    width: 180px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 12px;
    background: rgba(29, 209, 0, 0.15);
}

.route-size {
    width: 808px;
    height: 265px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #F7F8F8;
}

.hr-1 {
    width: 744px;
    height: 1px;
    background: rgba(3, 7, 18, 0.20);
}

.paribahan-card {
    width: 232px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 12px;
    background: rgba(3, 7, 18, 0.05);
}

.ticket-board {
    border-radius: 24px;
    background: var(--base-white, #FFF);
    width: 100%;
    height: 1056px;
    flex-shrink: 0;
}

.hr-2 {
    width: auto;
    height: 1px;
    background: rgba(3, 7, 18, 0.20);
}

.pay-box {
    width: 433px;
    height: 335px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #F7F8F8;
}

.btn-cupon {
    width: 80px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--primary-700, #1DD100);
}